@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

body {
    font-family: Verdana, Tahoma, sans-serif;
    line-height: 1.6;
    margin: auto;
    padding: auto;
    background-color: #c9c9c960;
    overflow-x: hidden;
}

.senac-background {
    background-color: #c9c9c960;
    position: relative;
    border-radius: 10px;
    padding: 50px;
}

.link-icons {
    position: absolute;
    top: 50%;
    right: 10rem;
    transform: translateY(-50%);
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
}

.logo-Senac {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px; 
    height: auto;
}

.agenda-cursos {
    background-color: #ffa600;
    padding: 50px;
    color: #073f7c;
    font-size: 35px;
}

.footer-site {
    background-color: #333;
    color: #ffffff;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    width: 100%;
    font-family: monospace;
}
.footer-site a {
    text-decoration: none;
    color: #ffffff;
}
.footer-site p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    background-color: #ffffff;
    margin-bottom: 1rem;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card h2 {
    margin: 0.5rem 0;
    color: #ffa600;
}

.card p {
    color: #073f7c;
    font-family: 'Prostest Strike';
    font-size: 20px;
}

.card img {
    width: 100%;
    height: 150px; 
    object-fit: cover;
}


h1 {
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Prostest Strike', sans-serif; 
}

h2 {
    font-family: 'Protest Strike', sans-serif;
}

p {
    font-family: 'Prostest Strike';
    font-weight: bold;
}

nav {
    font-family: 'Protest Strike';
    background-color: #073f7c;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

hr {
    color: #ffa600;
}

section {
    margin: 5rem 0;
}

button {
    cursor: pointer;
}